:root {
    --color-primary: hsl(263, 55%, 52%);//Moderate #violet

    --color-primary-dark-1: hsl(219, 29%, 14%);//Very dark blackish #blue
    --color-primary-dark-2: hsl(217, 19%, 35%);//Very dark grayish #blue

    --color-gray-light-1: hsl(210, 46%, 95%);//Light grayish #blue
    --color-gray-light-2: hsl(0, 0%, 81%);//Light #gray

    --color-white: hsl(0, 0%, 100%);//White
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 81.3%; //13px / 16px = .8125 = 81.3%
}

body {
    box-sizing: border-box;
}