:root {
  --color-primary: hsl(263, 55%, 52%);
  --color-primary-dark-1: hsl(219, 29%, 14%);
  --color-primary-dark-2: hsl(217, 19%, 35%);
  --color-gray-light-1: hsl(210, 46%, 95%);
  --color-gray-light-2: hsl(0, 0%, 81%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light-50: hsla(0, 0%, 81%, .5);
  --color-gray-light-70: hsla(0, 0%, 81%, .7);
  --color-primary-dark-50: hsla(219, 29%, 14%, .5);
  --color-primary-dark-70: hsla(219, 29%, 14%, .7);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 81.3%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-gray-light-1);
}

.main {
  min-height: 100vh;
  display: grid;
  justify-content: center;
}

span {
  display: inline-block;
}

/**
 * Hiding class, making content visible only to screen readers but not visually 
 */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.heading-tertiary {
  font-size: 1rem;
  font-weight: 500;
}
.heading-tertiary--light {
  color: var(--color-gray-light-2);
}
.heading-tertiary--dark {
  color: var(--color-primary-dark-1);
}

.testimonials__verified {
  font-size: 0.85rem;
}
.testimonials__verified--light-50 {
  color: var(--color-gray-light-50);
}
.testimonials__verified--dark-50 {
  color: var(--color-primary-dark-50);
}

.testimonials__title {
  font-size: 1.5rem;
}
.testimonials__title--light-span {
  color: var(--color-white);
}
.testimonials__title--dark-span {
  color: var(--color-primary-dark-1);
}

.testimonials__review {
  font-size: 0.96rem;
}
.testimonials__review--light-70 {
  color: var(--color-gray-light-70);
}
.testimonials__review--dark-70 {
  color: var(--color-primary-dark-70);
}

.u-margin-bottom-sm {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-md {
  margin-bottom: 1.8rem;
}

.testimonials {
  max-width: 90rem;
  margin: 10rem 5rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  column-gap: 2.2rem;
  row-gap: 1.7rem;
}
.testimonials__card {
  border-radius: 0.7rem;
  padding: 1.8rem 2.4rem;
}
.testimonials__card--1 {
  background-color: var(--color-primary);
  grid-row: 1/1;
  grid-column: 1/span 2;
}
.testimonials__card--2 {
  background-color: var(--color-primary-dark-2);
}
.testimonials__card--3 {
  background-color: var(--color-white);
}
.testimonials__card--4 {
  background-color: var(--color-primary-dark-1);
  grid-row: 2/3;
  grid-column: 2/span 2;
}
.testimonials__card--5 {
  background-color: var(--color-white);
  grid-row: 1/span 2;
  grid-column: 4/5;
}
.testimonials__profile-box {
  display: grid;
  grid-template-columns: min-content max-content;
  column-gap: 1.2rem;
  align-items: center;
}
.testimonials__img {
  width: 2rem;
  border-radius: 50%;
  grid-row: 1/span 2;
}
