// @use '../abstracts' as *;

.testimonials {
    max-width: 81.62rem;
    margin: 6rem 3rem;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(4, 1fr);

    //Temporary test
    // @media only screen and (max-width: 1300px) {
    //     grid-template-rows: repeat(3, min-content);
    //     grid-template-columns: repeat(3, 1fr);
    // }

    align-content: center;
    column-gap: 2.15rem;
    row-gap: 1.75rem;
    
    &__card {
        border-radius: .6rem;
        padding: 1.8rem 2.4rem;
        box-shadow: 2.8rem 2.8rem 3rem -2.5rem var(--card-shadow);

        &--1 {
            background-color: var(--color-primary);
            padding-bottom: 2.3rem;

            grid-row: 1 / 1;
            grid-column: 1 / span 2;
        }

        &--2 {
            background-color: var(--color-primary-dark-2);
            padding-bottom: 2.3rem;
        }

        &--3 {
            background-color: var(--color-white);
            padding-bottom: 1.9rem;
        }

        &--4 {
            background-color: var(--color-primary-dark-1);
            padding-bottom: 1.9rem;

            grid-row: 2 / 3;
            grid-column: 2 / span 2;
        }

        &--5 {
            background-color: var(--color-white);
            padding-bottom: 1.9rem;

            grid-row: 1 / span 2;
            grid-column: 4 / 5;
        }

        //Temporary test
        // @media only screen and (max-width: 1300px) {
        //     &--1 {
        //         grid-column: 1 / span 2;
        //     }
    
        //     &--2 {
        //         grid-column: 3 / -1;
        //     }
    
        //     &--4 {
        //         grid-row: 2 / 3;
        //         grid-column: 2 / -1;
        //     }
    
        //     &--5 {
        //         grid-row: 3 / -1;
        //         grid-column: 1 / -1;
        //     }
        // }

    }

    &__profile-box {
        display: grid;
        grid-template-columns: min-content max-content;
        column-gap: 1.2rem;
        row-gap: .04rem;
        align-items: center;
    }

    &__img {
        width: 2rem;
        border-radius: 50%;
        grid-row: 1 / span 2;
    }
}