.testimonials {
    max-width: 90rem;
    margin: 10rem 5rem;
    overflow: hidden;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(4, 1fr);

    //Temporary test
    // @media only screen and (max-width: 1300px) {
    //     grid-template-rows: repeat(3, min-content);
    //     grid-template-columns: repeat(3, 1fr);
    // }

    align-content: center;
    column-gap: 2.2rem;
    row-gap: 1.7rem;
    
    &__card {
        border-radius: .7rem;
        padding: 1.8rem 2.4rem;

        &--1 {
            background-color: var(--color-primary);

            grid-row: 1 / 1;
            grid-column: 1 / span 2;
        }

        &--2 {
            background-color: var(--color-primary-dark-2);
        }

        &--3 {
            background-color: var(--color-white);
        }

        &--4 {
            background-color: var(--color-primary-dark-1);

            grid-row: 2 / 3;
            grid-column: 2 / span 2;
        }

        &--5 {
            background-color: var(--color-white);

            grid-row: 1 / span 2;
            grid-column: 4 / 5;
        }

        //Temporary test
        // @media only screen and (max-width: 1300px) {
        //     &--1 {
        //         grid-column: 1 / span 2;
        //     }
    
        //     &--2 {
        //         grid-column: 3 / -1;
        //     }
    
        //     &--4 {
        //         grid-row: 2 / 3;
        //         grid-column: 2 / -1;
        //     }
    
        //     &--5 {
        //         grid-row: 3 / -1;
        //         grid-column: 1 / -1;
        //     }
        // }

    }

    &__profile-box {
        display: grid;
        grid-template-columns: min-content max-content;
        column-gap: 1.2rem;
        align-items: center;
    }

    &__img {
        width: 2rem;
        border-radius: 50%;
        grid-row: 1 / span 2;
    }
    
    // &__title {
    // }
    
    // &__review
}